.seed {
  user-select: none;
  font-size: 75%;
  color: var(--bs-gray);
}

.card .table-flush {
  margin-bottom: 0;
}

.table-flush {
  border-radius: 0px;
  border-bottom-width: 0;
}

.table-flush:last-child thead :last-child *,
.table-flush:last-child tbody :last-child * {
  border: none;
}
